In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
test =  pd.read_csv("test_lAUu6dG.csv")

In [3]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [4]:
test.shape

(367, 12)

In [5]:
test["Self_Employed"].isna().sum()

23

In [6]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [7]:
test = test.dropna()

In [8]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [9]:
test.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [10]:
test.drop(["Gender","Married"],axis=1, inplace=True)

In [11]:
test.head()

,Loan_ID,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
4,LP001051,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban

In [41]:
test["Loan_ID"].isnull().sum()

0

In [23]:
test_df = test.drop("Loan_ID",axis=1)

test_df.head()

,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
4,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban

In [24]:
col = [ 'Dependents', 'Education', 'Self_Employed',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']

for i in col:
    print(test_df[i].unique())
    print("_+"*20)

['0' '1' '2' '3+']
_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+
['Graduate' 'Not Graduate']
_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+
['No' 'Yes']
_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+
[360. 180. 480.  84. 240.  12. 300. 350.  36. 120.   6.]
_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+
[1. 0.]
_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+
['Urban' 'Semiurban' 'Rural']
_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+

In [25]:
test_df["Dependents"] = test_df["Dependents"].map({"0":0, "1":1, "2":2, "3+":3})

test_df["Education"] = test_df["Education"].map({"Graduate":1, "Not Graduate":0})

test_df["Self_Employed"] = test_df["Self_Employed"].map({"Yes":1, "No":0})

test_df["Property_Area"] = test_df["Property_Area"].map({"Urban":1, "Rural":0,"Semiurban":2})

In [26]:
test_df.head()

,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,0,5720,0,110.0,360.0,1.0,1
1,1,1,0,3076,1500,126.0,360.0,1.0,1
2,2,1,0,5000,1800,208.0,360.0,1.0,1
4,0,0,0,3276,0,78.0,360.0,1.0,1
5,0,0,1,2165,3422,152.0,360.0,1.0,1

In [27]:
test_df.isna().sum()

Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [28]:
import pickle

In [29]:
pre = pickle.load(open("Loan_defalter.sav","rb"))

In [31]:
predict = pre.predict(test_df)

In [36]:
df = pd.DataFrame(columns= ["Loan_Status"],data= predict, index= test["Loan_ID"])

df["Loan_Status"] = df["Loan_Status"].map({1: "Yes", 0:"No"})

In [40]:
df["Loan_ID"].isnull().sum()

KeyError: 'Loan_ID'

In [39]:
df.to_csv("submission_Analytic_vidya.csv")

In [42]:
df1 = pd.read_csv("submission_Analytic_vidya.csv")

In [43]:
df1["Loan_ID"].isnull().sum()

0

In [44]:
df1["Loan_Status"].isnull().sum()

0